body {
    background-color: #f8f9fa;
}

.fp-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp-card {
    max-width: 450px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}