/* Estilos para la foto de usuario en la tabla */
.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    /* Asegura que la imagen no se deforme */
}

/* Vista previa de la foto en el modal */
#photo-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
}